
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header"><h5 class=" title">Registrar Usuario</h5></div>
        <div class=" card-body">
          <form>
            <div class=" row">
              <div class=" col-md-6 px-md-1">
                <div class=" form-group">
                  <label> Nombre </label>
                  <input
                    class=" form-control"
                    placeholder="Nombre"
                    type="text"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label for="exampleInputEmail1"> Correo </label>
                  <input
                    class=" form-control"
                    placeholder="usuario@email.com"
                    type="email"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Nombres </label>
                  <input
                    class=" form-control"
                    placeholder="Ingrese su nombre"
                    type="text"
                  />
                </div>
              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Apellidos </label>
                  <input
                    class=" form-control"
                    placeholder="Ingrese su apellido"
                    type="text"
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <div class=" form-group">
                  <label> Ciudad </label>
                  <input
                    class=" form-control"
                    placeholder="Ciudad"
                    type="text"
                  />
                </div>
              </div>
              <div class=" col-md-4 px-md-1">
                <div class=" form-group">
                  <label> País </label>
                  <input
                    class=" form-control"
                    placeholder="País"
                    type="text"
                  />
                </div>
              </div>
              <div class=" col-md-4 pl-md-1">
                <div class=" form-group">
                  <label> Código Postal </label>
                  <input
                    class=" form-control"
                    placeholder="ZIP"
                    type="number"
                  />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">Registrar</button>
        </div>
      </div>
    </div>
  </div>
</div>
